services:
- type: web
  name: inventory-billing
  env: python
  python_version: 3.9.12
  buildCommand: |
    curl -sSL https://install.python-poetry.org | python3 -
    poetry install
    poetry run python manage.py collectstatic --noinput
    poetry run python manage.py migrate
  startCommand: poetry run gunicorn autoparts.wsgi:application
  envVars:
  - key: PYTHON_VERSION
    value: 3.9.12
  - key: DJANGO_SECRET_KEY
    value: django-insecure-b1lr4=m@f!dfy^wp24g+-41k_ta2==8r&uj-v&jp00t21)*6h#
  - key: DJANGO_DEBUG
    value: "False"
  - key: DJANGO_ALLOWED_HOSTS
    value: ".onrender.com"
  - key: DATABASE_URL
    value: ${{ Postgres.DATABASE_URL }}
  - key: CLOUDINARY_CLOUD_NAME
    value: shivam1085
  - key: CLOUDINARY_API_KEY
    value: 839322377597543
  - key: CLOUDINARY_API_SECRET
    value: s6K7FGz4TFZGhdXpzqKumY9Vmxw
