services:
- type: web
  name: inventory-billing
  env: python
  buildCommand: bash -c "pip install -r requirements.txt && python manage.py collectstatic --no-input && python manage.py migrate"
  startCommand: gunicorn autoparts.wsgi:application
  envVars:
  - key: PYTHON_VERSION
    value: 3.9.12
  - key: DJANGO_SECRET_KEY
    value: django-insecure-b1lr4=m@f!dfy^wp24g+-41k_ta2==8r&uj-v&jp00t21)*6h#
  - key: DJANGO_DEBUG
    value: "False"
  - key: DJANGO_ALLOWED_HOSTS
    value: "*"
  - key: DATABASE_URL
    fromDatabase:
      name: inventory_db
      property: connectionString
  - key: CLOUDINARY_CLOUD_NAME
    value: shivam1085
  - key: CLOUDINARY_API_KEY
    value: 839322377597543
  - key: CLOUDINARY_API_SECRET
    value: s6K7FGz4TFZGhdXpzqKumY9Vmxw

databases:
- name: inventory_db
  plan: free
  ipAllowList: []
